@import url('https://cdn.jsdelivr.net/fontawesome/4.6.3/css/font-awesome.min.css');
@import url('https://cdn.jsdelivr.net/normalize/3.0.3/normalize.min.css');
@import url('https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');

/**
* GERAL
*
*/

* {
  margin: 0;
  padding: 0;
}

html {
  /*config para usar em no lugar de px*/
  font-size: 100.01%;
}

body {
  /*config para usar em no lugar de px*/
  font-size: 62.5%;
  font-family: Open Sans, sans-serif;
}

.wrapper {
  width: 100%
}

.page-wrapper {
  position: inherit;
  margin: 0 0 0 250px;
  padding: 0 20px;
}